In [58]:
import os
import pandas as pd
from sklearn.linear_model import LinearRegression, LassoCV, Ridge, Lasso
import numpy as np
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
import scipy.stats as st
from sklearn.ensemble import RandomForestRegressor
import patsy

from sklearn.tree import plot_tree
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.regression.linear_model import WLS

In [59]:
df = pd.read_csv('data/job_training.csv').drop(columns=['Unnamed: 0'])

controls = list(df.columns[1:-2])
treatment = ['treated']
target = ['re18']

In [65]:
rs = np.random.RandomState(0)
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm').format(precision=2)
# 'RdBu_r', 'BrBG_r', & PuOr_r are other good diverging colormaps

# Basic Regression

In [3]:
X = df[controls+treatment]
y = df[target]
X = sm.add_constant(X)
sm.OLS(y,X).fit().summary().tables[1]

# Approach 1: Basic DiD (TWFE)
$$
Y_{it} = \beta + \delta p_t + \gamma G_i + \tau D_{it} + \epsilon_{it}
$$

Equivalently,

$$
Y_{it} = \beta + \delta p_t + \gamma G_i + \tau p_t\times G_i + \epsilon_{it}
$$

For this, we must turn the panel dataframe into DiD-style dataframe.

In [4]:
def generate_basic_did(df):
    df_did_before = df[['re14','treated']].assign(period=0).rename(columns={'re14':'realIncome','treated':'tgroup'})[['tgroup','period','realIncome']]
    df_did_after = df[['re18','treated']].assign(period=1).rename(columns={'re18':'realIncome','treated':'tgroup'})[['tgroup','period','realIncome']]
    df_did = pd.concat([df_did_before, df_did_after])
    df_did['treated'] = df_did['tgroup']*df_did['period']
    return df_did[['tgroup','period','treated','realIncome']].copy()

In [5]:
df_did = generate_basic_did(df)

df_did.sample(5)

       tgroup  period  treated    realIncome
6627        0       0        0   7184.564453
2318        0       0        0  24672.435547
5853        0       0        0  21129.386719
9107        0       0        0   2105.419434
12425       0       1        0  14536.396484

In [6]:
X = df_did[['tgroup','period','treated']]
y = df_did['realIncome']
X = sm.add_constant(X)
sm.OLS(y,X).fit().summary().tables[1]

# Approach 2: Using `patsy` formulas for complex models

We include extra covariates to control for time-invariant characteristics.

In [7]:
def generate_controls_did(df, controls=['age','educ','black','hisp','married','nodegree','urban','fsize']):
    df_did_before = df[['re14','treated']+controls].assign(period=0).rename(columns={'re14':'realIncome','treated':'tgroup'})
    df_did_after = df[['re18','treated']+controls].assign(period=1).rename(columns={'re18':'realIncome','treated':'tgroup'})
    df_did = pd.concat([df_did_before,df_did_after])
    df_did['treated'] = df_did['tgroup']*df_did['period']
    return df_did[controls + ['tgroup','period','treated','realIncome']].copy()

df_controls_did = generate_controls_did(df)

df_controls_did.head()

,age,educ,black,hisp,married,nodegree,urban,fsize,tgroup,period,treated,realIncome
0,42,16,0,0,1,0,1,2,0,0,0,0.000000
1,20,13,0,0,0,0,1,1,0,0,0,3317.467773
2,37,12,0,0,1,0,1,4,0,0,0,22781.855469
3,48,12,0,0,1,0,1,3,0,0,0,20839.355469
4,51,12,0,0,1,0,0,2,0,0,0,21575.177734

In [8]:
# This should be the same as the previous simple DiD

y, X = patsy.dmatrices("realIncome ~ period + tgroup + period:tgroup", df_controls_did)
sm.OLS(y,X).fit().summary().tables[1]

In [9]:
y, X = patsy.dmatrices("realIncome ~ period + tgroup + tgroup:period + period:(age + educ + black + hisp + married + nodegree + urban + fsize)", df_controls_did)
sm.OLS(y,X).fit().summary().tables[1]

# Approach 3: using entropy balancing

In [10]:
import os
os.environ['R_HOME'] = r'C:\Program Files\R\R-4.3.1'

# These will let us use R packages:
from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri
import rpy2.robjects.packages as rpackages

# Convert pandas.DataFrames to R dataframes automatically.
pandas2ri.activate()

In [11]:
utils = rpackages.importr('utils')
utils.chooseCRANmirror(ind=1)
utils.install_packages('ebal')
utils.install_packages('WeightIt')

R[write to console]: Installing package into 'C:/Users/Kai/AppData/Local/R/win-library/4.3'
(as 'lib' is unspecified)

R[write to console]: trying URL 'https://cloud.r-project.org/bin/windows/contrib/4.3/ebal_0.1-8.zip'

R[write to console]: Content type 'application/zip'
R[write to console]:  length 45353 bytes (44 KB)

R[write to console]: downloaded 44 KB

package 'ebal' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Kai\AppData\Local\Temp\RtmpET29H0\downloaded_packages

R[write to console]: Installing package into 'C:/Users/Kai/AppData/Local/R/win-library/4.3'
(as 'lib' is unspecified)

R[write to console]: trying URL 'https://cloud.r-project.org/bin/windows/contrib/4.3/WeightIt_0.14.2.zip'

R[write to console]: Content type 'application/zip'
R[write to console]:  length 1013453 bytes (989 KB)

R[write to console]: downloaded 989 KB

package 'WeightIt' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Kai\AppData\Local\Temp\RtmpET29H0\downloaded_packages

<rpy2.rinterface_lib.sexp.NULLType object at 0x000001E04ADF9FD0> [0]

In [12]:
ebal = importr("ebal")

In [13]:
df_controls_did.head()

,age,educ,black,hisp,married,nodegree,urban,fsize,tgroup,period,treated,realIncome
0,42,16,0,0,1,0,1,2,0,0,0,0.000000
1,20,13,0,0,0,0,1,1,0,0,0,3317.467773
2,37,12,0,0,1,0,1,4,0,0,0,22781.855469
3,48,12,0,0,1,0,1,3,0,0,0,20839.355469
4,51,12,0,0,1,0,0,2,0,0,0,21575.177734

In [14]:
print('Get covariates matrix...')
X = df_controls_did.drop(columns = ['treated', 'realIncome', 'period', 'tgroup'], axis=1)

print('Generate entropy-balanced weights... (ignore the following warning)')
out = ebal.ebalance(Treatment=df_controls_did['treated'], X = X)
weights = out[2]

print(f'weights.shape: {weights.shape}')

print('Create weights vector for all rows...')
df_controls_did['weights'] = 1
df_controls_did.loc[df_controls_did['treated']==0,'weights'] = weights

print('Done!')

Get covariates matrix...
Generate entropy-balanced weights... (ignore the following warning)

C:\Users\Kai\anaconda3\envs\uni\Lib\site-packages\rpy2\robjects\pandas2ri.py:56: UserWarning: DataFrame contains duplicated elements in the index, which will lead to loss of the row names in the resulting data.frame
  warnings.warn('DataFrame contains duplicated elements in the index, '

Converged within tolerance
weights.shape: (38111,)
Create weights vector for all rows...
Done!

In [15]:
print('Basic entropy-balanced DiD')
y, X = patsy.dmatrices("realIncome ~ period + tgroup + period:tgroup", df_controls_did)
WLS(y,X, weights=df_controls_did['weights']).fit().summary().tables[1]

Basic entropy-balanced DiD

In [16]:
print('Entropy-balanced DiD with extra controls')
y, X = patsy.dmatrices("realIncome ~ period + tgroup + tgroup:period + period:(age + educ + black + hisp + married + nodegree + urban + fsize)", df_controls_did)
WLS(y,X, weights=df_controls_did['weights']).fit().summary().tables[1]

Entropy-balanced DiD with extra controls

# Approach 4: First Differencing

Formulation:

$$
\Delta Y_i = \Delta\gamma + \tau\Delta D_i + \Delta \epsilon_i
$$

In [17]:
DY = df['re18'] - df['re14']
Dgamma = pd.Series(np.ones(df.index.shape), name='DGamma') # it's a constant bc it just represents the time period change, any nonzero constant value will work here
DD = df['treated'] # if they were untreated then treated, represent this as 1. If they were untreated then untreated, represent as 0. This is conveniently the same as df['treated']

X = pd.concat([Dgamma, DD], axis=1).astype(float)
y = DY

In [18]:
sm.OLS(y, X).fit().summary().tables[1]

In [19]:
# ...alternatively

y_p, X_p = patsy.dmatrices("deltaY ~ 1 + treated", df.assign(deltaY=df['re18']-df['re14']))
sm.OLS(y_p, X_p).fit().summary().tables[1]

# Approach 5: Fixed Effects

Formulation:

Estimate the pooled sample mean of Y and D by
$$
\bar{Y} = \frac{1}{NT}\sum\limits_{i,t}Y_{it}
$$

Estimate the sample mean over time and over unit of Y and D by$$
\bar{Y}_{i\cdot} = \frac{1}{T}\sum\limits_{t=1}^TY_{it}
$$
$$
\bar{Y}_{\cdot t} = \frac{1}{N}\sum\limits_{i=1}^NY_{it}
$$

Finally
$$
\ddot{Y}_{it} = Y_{it} - \bar{Y}_{i\cdot} - \bar{Y}_{\cdot t} + \bar{Y}
$$

Do the same for the treatment variable and estimate:

$$
\ddot{Y}_{it} = \tau \ddot{D}_{it} + \epsilon_{it}
$$

In [20]:
df_fe = df_did.rename(columns={'treated':'D', 'realIncome':'Y'}).copy()
df_fe.head()

   tgroup  period  D             Y
0       0       0  0      0.000000
1       0       0  0   3317.467773
2       0       0  0  22781.855469
3       0       0  0  20839.355469
4       0       0  0  21575.177734

In [21]:
mean_individual_Y = df_fe.groupby(df_fe.index)['Y'].transform('mean')
mean_time_period_Y = df_fe.groupby('period')['Y'].transform('mean')

mean_individual_D = df_fe.groupby(df_fe.index)['D'].transform('mean')
mean_time_period_D = df_fe.groupby('period')['D'].transform('mean')

In [22]:
df_fe['Y..'] = df_fe['Y'] - mean_individual_Y - mean_time_period_Y + df_fe['Y'].mean()
df_fe['D..'] = df_fe['D'] - mean_individual_D - mean_time_period_D + df_fe['D'].mean()

In [23]:
sm.OLS(df_fe['Y..'], df_fe['D..']).fit().summary().tables[1]

# Approach 6: HTE

## 6.1: Interaction Regressions

We start with the model:

$$
Y_i = \tau D_i + X_i\beta + D_i\cdot(X_i-\bar{X})\eta + \epsilon_i
$$

In [24]:
df_ir = df.copy()
controls_demeaned = [c + '_demeaned' for c in controls]
print(control_pairs:=list(zip(controls,controls_demeaned)))

[('age', 'age_demeaned'), ('educ', 'educ_demeaned'), ('black', 'black_demeaned'), ('hisp', 'hisp_demeaned'), ('married', 'married_demeaned'), ('nodegree', 'nodegree_demeaned'), ('urban', 'urban_demeaned'), ('fsize', 'fsize_demeaned')]

In [25]:
for c, c_demeaned in control_pairs:
    df_ir[c_demeaned] = df_ir[c] - df_ir[c].mean()

In [26]:
formula = 're18 ~ treated' + ' + ' + ' + '.join(controls) + ' + ' 'treated:(' + ' + '.join(controls_demeaned) + ')'
print('='*5 + ' FORMULA ' + '='*5 + '\n\n' + formula + '\n\n' + '='*5 + '=========' + '='*5)

y, X = patsy.dmatrices(formula, df_ir)
sm.OLS(y, X).fit().summary().tables[1]

===== FORMULA =====

re18 ~ treated + age + educ + black + hisp + married + nodegree + urban + fsize + treated:(age_demeaned + educ_demeaned + black_demeaned + hisp_demeaned + married_demeaned + nodegree_demeaned + urban_demeaned + fsize_demeaned)

===================

## 6.2: Causal Trees

In [27]:
import sys
sys.path.append('../CTL')

import CTL
from CTL.causal_tree_learn import CausalTree

In [28]:
from sklearn.model_selection import train_test_split
os.environ["PATH"] += os.pathsep + 'C:/Program Files/Graphviz/bin/'

In [39]:
y = (df['re18']).values
treatment = df['treated'].values

x = df.drop(['re18', 'treated'], axis=1).values
columns = df.drop(['re18', 'treated'], axis=1).columns

y[y == 0] = -1

# We don't need to translate our treatment
# treatment[treatment == 1] = 0
# treatment[treatment == 2] = 1

np.random.seed(0)

x_train, x_test, y_train, y_test, treat_train, treat_test = train_test_split(x, y, treatment,
                                                                             test_size=0.5, random_state=42)

# regular CTL
ctl = CausalTree(magnitude=False)
ctl.fit(x_train, y_train, treat_train)
ctl.prune()
ctl_predict = ctl.predict(x_test)

# honest CTL (CT-HL)
cthl = CausalTree(honest=True)
cthl.fit(x_train, y_train, treat_train)
cthl.prune()
cthl_predict = cthl.predict(x_test)

# val honest CTL (CT-HV)
cthv = CausalTree(val_honest=True)
cthv.fit(x_train, y_train, treat_train)
cthv.prune()
cthv_predict = cthv.predict(x_test)

# adaptive CT (Athey and Imbens, PNAS 2016)
ct_adaptive = CausalTree(weight=0.0, split_size=0.0)
ct_adaptive.fit(x_train, y_train, treat_train)
ct_adaptive.prune()
ct_adaptive_predict = cthv.predict(x_test)

# honest CT (Athey and Imbens, PNAS 2016)
ct_honest = CausalTree(honest=True, weight=0.0, split_size=0.0)
ct_honest.fit(x_train, y_train, treat_train)
ct_honest.prune()
ct_honest_predict = ct_honest.predict(x_test)

ct_adaptive.plot_tree(features=columns, filename="output/bin_tree_adaptive", show_effect=True)
ct_honest.plot_tree(features=columns, filename="output/bin_tree_honest", show_effect=True)
ctl.plot_tree(features=columns, filename="output/bin_tree", show_effect=True)
cthl.plot_tree(features=columns, filename="output/bin_tree_honest_learn", show_effect=True)
cthv.plot_tree(features=columns, filename="output/bin_tree_honest_validation", show_effect=True)

C:\Users\Kai\Coding\UNSW\ECON3210\econ3210\../CTL\CTL\causal_tree\ctl\adaptive.py:148: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  fb_p_val = get_pval(y2, t2)
C:\Users\Kai\Coding\UNSW\ECON3210\econ3210\../CTL\CTL\causal_tree\ctl\adaptive.py:147: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  tb_p_val = get_pval(y1, t1)

In [57]:
ct_test = CausalTree(honest=True, split_size=0.0)
ct_test.fit(x_train, y_train, treat_train)
ct_test.prune(alpha=0.1)
ct_test_predict = ct_test.predict(x_test)

ct_test.plot_tree(features=columns, filename="output/cth_alpha_01", show_effect=True)